<nav id="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Admin', root_url, class: 'navbar-brand' %>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
       <!--  <%if @sub_uri == ""%>
        <li><a href="/admin/listPorts" class="active">Manage Areas of Interests</a><li>
          <% elsif %>
          <li><a href="/<%= @sub_uri %>/admin/listPorts" class="active">Manage Areas of Interests</a><li>
        <% end %> -->

        <li>
          <% if @page == "ports"%>
            <%= link_to "Manage Points of Interest", list_ports_path, :class=> "active" %>
          <% else %>
            <%= link_to "Manage Points of Interest", list_ports_path %>
          <% end %>
        </li>
        <li>
          <% if @page == "routes"%>
            <%= link_to "Manage Routes", list_routes_path, :class=> "active" %>
          <% else %>
            <%= link_to "Manage Routes", list_routes_path %>
          <% end %>
        </li>
        <li>
          <%= link_to "Export Data", export_data_path%>
        </li>
        <li>
          <%= link_to "View Site", root_path %>
        </li>
      </ul>
      <% if admin_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Log out", destroy_admin_session_path, :method => 'delete' %><li>
        </ul>
      <% end %>
    </div><!--/.nav-collapse -->
  </div>
</nav>