<%= render "admin/admin_navbar" %>
<script>
	var view = "config";

	function addRow(){
		$('#last-conf-field').off('change');
		$('#last-conf-field').removeAttr('id');
		$('#config-fields').append('<%=j render partial: 'admin/config_row' %>');
		// $('#last-conf-field').on('change', function(){ addRow(); });

		$(".syn-btn").last().on('click', function(event){
			event.preventDefault();
			var src = $(event.target);
			var ind = $(".syn-btn").index(src);

			$('<li><div class="form-group"><input class="form-control" name="syn['+ind+'][]" type="text" value=""></div></li>').insertBefore(src);
		});

		// $(".syn-btn").last().click();
	}

	function escapeRegExp(str) {
		return str.replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&");
	}
</script>

<style>
	ul {
		list-style-type: none;
	}

	.rem-padding {
		padding-left: 0;
		padding-right: 0;
	}
</style>

<div id="contents" class="container">
<%= form_tag(submit_config_path, method: "post") do %>
	<div class="row">
		<div class="col-md-12 col-md-offset-0 col-xs-10 col-xs-offset-1 well">
			<div class="form-group">
				<%= label_tag(:label_url, "Enter the webpage's URL:") %>
				<%= url_field_tag(:url, "", :class => "form-control", :required => true) %>
			</div>
		</div>
	</div>
	
	<div id="config-fields">
	</div>
	
	<script>addRow(); addRow(); addRow()</script>

	<div class="row">
		<div class="col-md-12 col-md-offset-0 col-xs-10 col-xs-offset-1 rem-padding">
			<div class="form-group">
				<button type="button" class="btn btn-default btn-block" onclick="addRow()">
					<span class="glyphicon glyphicon-plus"></span> Add Row
				</button>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 col-md-offset-0 col-xs-10 col-xs-offset-1 rem-padding">
			<div class="form-group">
				<%= submit_tag("Submit", :id => "submit", :class => "btn btn-primary btn-lg pull-right") %>
			</div>
		</div>
	</div>
<% end %>
</div>
<br />