<%= render "admin/admin_navbar" %>

<script>
	var view = "edit_port"
	var save_info_path = "<%= save_info_path%>"
	var save_port_path = "<%= save_port_path%>"
	var port_data = <%= raw @port.to_json %>
</script>

<div id="contents" class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h3>Edit Point of Interest</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2 edit-port-form">
			<%= form_for @port, :url => save_port_path, :method => "post", remote: true, :html => {:class => "form-horizontal", :id => "edit_port"} do |f| %>

				<%= f.hidden_field(:id, :id => "id") %>
				<%= hidden_field_tag(:id, @port.id) %>

				<div class="form-group">
					<%= label_tag(:label_name, "Name:", :class => "control-label col-md-3") %>
					<div class="col-md-9">
					 <%= f.text_field(:name, :id => "name", :required => true, :class => "form-control")  %>
					</div>
				</div>

				<div class="form-group">
					<%= label_tag(:label_category, "Category:", :class => "control-label col-md-3") %>
					<div class="col-md-9">
						<%= f.select :category_id, options_for_select(@categories_options, @port.category_id), {}, {:class => "form-control", :id => "category-id-select"} %>
					</div>
				</div>

				<div class="form-group" id="new-category" style="display:none">
					<%= label_tag(:label_category, "New Category Name:", :class => "control-label col-md-3") %>
					<div class="col-md-9">
						<input class="form-control" id="name" name="poi[category_name]" type="text" />
					</div>
				</div>

				<div class="form-group">
					<%= label_tag(:label_lat, "Latitude:", :class => "control-label col-md-3") %>
					<div class="col-md-5">
					 <%= f.number_field(:lat_deg, :id => "lat_deg", :required => true, :class => "form-control")  %>
					</div>
					<div class="col-md-2">
					 <%= f.number_field(:lat_min, :id => "lat_min", :required => true, :class => "form-control")  %>
					</div>
					<div class="col-md-2">
					 <%= f.number_field(:lat_sec, :id => "lat_sec", :required => true, :class => "form-control")  %>
					</div>
				</div>

				<div class="form-group">
					<%= label_tag(:label_lon, "Longitude:", :class => "control-label col-md-3") %>
					<div class="col-md-5">
					 <%= f.number_field(:lon_deg, :id => "lon_deg", :required => true, :class => "form-control")  %>
					</div>
					<div class="col-md-2">
					 <%= f.number_field(:lon_min, :id => "lon_min", :required => true, :class => "form-control")  %>
					</div>
					<div class="col-md-2">
					 <%= f.number_field(:lon_sec, :id => "lon_sec", :required => true, :class => "form-control")  %>
					</div>
				</div>

				<div class="form-group">
					<%= label_tag(:label_description, "Description:", :class => "control-label col-md-3") %>
					<div class="col-md-9">
						<%= f.text_area :description, :id => "description", :class => "form-control", :rows => 5  %>
					</div>
				</div>

				<div class="form-group">
			    <div class="col-sm-offset-3 col-sm-9">
			    	<% if @new %> 
			    		<%= f.submit("Create", :id => "save", :class => "btn btn-primary", :name => "commit") %>
			    	<% else %>
			    		<%= f.submit("Save Changes", :id => "save", :class => "btn btn-primary", :name => "commit") %>
			    	<% end %>
			    	
			    <!-- 
			      <%= f.submit("Delete", :id => "delete", :class => "btn btn-default", :onclick => "return confirm('Delete Port?')") %>
 					-->
			    </div>
			  </div>

			  <% if @notice != nil %>
				  <div class="form-group">
				    <div class="col-sm-offset-3 col-sm-9">
				      <%= @notice %>
				    </div>
				  </div>
			  <% end %>

			<% end %>
		</div>
	</div>

	<div id="additional-info-section" <%if @new %> style="display:none" <% end %>>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h3>Additional Information</h3>
			</div>
		</div>

		<div id="additional-info-list" class="row">
			<% @port_infos.each do |info| %>
				<div class="col-md-8 col-md-offset-2 edit-port-form">
					<%= form_for info, :url => save_info_path, :method => "post", remote: true, :html => {:class => "form-horizontal edit-detail"} do |f| %>
						

						<%= f.hidden_field(:id, :id => "id") %>
						<%= f.hidden_field(:poi_id, :id => "poi_id") %>
						<%= f.hidden_field(:detail_type, :id => "detail_type") %>

						<div class="form-group">
							<%= label_tag(:label_name, "Name:", :class => "control-label col-md-3") %>
							<div class="col-md-9">
							 <%= f.text_field(:name, :id => "name", :class => "form-control")  %>
							</div>
						</div>

						<div class="form-group">
							<%= label_tag(:label_body, "Body:", :class => "control-label col-md-3") %>
							<div class="col-md-9">
							 <%= f.text_area(:body, :id => "body", :class => "form-control", :rows => 5)  %>
							</div>
						</div>

						<div class="form-group">
					    <div class="col-sm-offset-3 col-sm-9">
					      <%= f.submit("Save Changes", :id => "save",  :class => "btn btn-primary") %>
					      <%= f.submit("Delete", :id => "delete", :class => "btn btn-default", :onclick => "return confirm('Delete info?')") %>
					    </div>
					  </div>

					<% end %>
				</div>
			<% end %>

			<div class="col-md-8 col-md-offset-2 edit-port-form">
				<%= form_tag create_info_path, :method => "post", remote: true, :class => "form-horizontal create-detail" do %>
						<input id="id" name="details[id]" type="hidden" value="-1" />
						<input id="poi_id" name="details[poi_id]" type="hidden" value="<%= @port[:id]%>" />
						<input id="detail_type" name="details[detail_type]" type="hidden" value="text" />

						<div class="form-group">
							<label class="control-label col-md-3" for="label_name">Name:</label>
							<div class="col-md-9">
							 <input class="form-control" id="name" name="details[name]" type="text" />
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-3" for="label_body">Body:</label>
							<div class="col-md-9">
							 <textarea class="form-control" id="body" name="details[body]" rows="5"></textarea>
							</div>
						</div>

						<div class="form-group">
					    <div class="col-sm-offset-3 col-sm-9 buttons">
					      <input class="btn btn-primary" name="commit" type="submit" value="Save" />
					    </div>
					  </div>
				<% end %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<%= link_to "Back to List", list_ports_path %>
		</div>
	</div>

	<div class="bottom-filler"></div>

</div>

<script id="additional-info-template" type="text/x-handlebars-template">
  <div class="col-md-8 col-md-offset-2 edit-port-form">
		<%= form_tag create_info_path, :method => "post", remote: true, :class => "form-horizontal create-detail" do %>
				<input id="id" name="details[id]" type="hidden" value="-1" />
				<input id="poi_id" name="details[poi_id]" type="hidden" value="{{id}}" />
				<input id="detail_type" name="details[detail_type]" type="hidden" value="text" />

				<div class="form-group">
					<label class="control-label col-md-3" for="label_name">Name:</label>
					<div class="col-md-9">
					 <input class="form-control" id="name" name="details[name]" type="text" />
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-md-3" for="label_body">Body:</label>
					<div class="col-md-9">
					 <textarea class="form-control" id="body" name="details[body]" rows="5"></textarea>
					</div>
				</div>

				<div class="form-group">
			    <div class="col-sm-offset-3 col-sm-9 buttons">
			      <input class="btn btn-primary" name="commit" type="submit" value="Save" />
			    </div>
			  </div>
		<% end %>
	</div>
</script>