<script>
	var view = "maps";
</script>

<div id="map"></div>

<!-- Map UI -->
<div id="map-ui-container">
	<div id="panel-title">
		Port Details
	</div>
	<!-- <div id="search-container" class="panel-sub">
		<input id="search-box" type="text" placeholder="Search for Ports"/>
	</div> -->
	<div id="port-details">
		<%= render "page/image_carousel" %>
		<div id="name-container" class="panel-sub">
			<div class="bold">
				Jose Panganiban Port
			</div>
			<div class="small-desc">
			Camarines Norte
			</div>
		</div>
		<%= render "page/additional_info" %>
	</div>
	<div id="routes-display" style="display:none">
		<%= render "page/routes_view" %>
	</div>
</div>

<div id="layer-ui-container">
	<% @categories.each do |category| %>
	<div class="filter-button active">
		<image class="image-responsive filter-image" src="<%= @category_filters[category.id] %>" data-category="<%= category.id %>">
	</div>
	<% end %>
</div>

<script>
	var ports = <%= raw @ports.to_json %>
	var images = <%= raw @images.to_json %>
	var infos = <%= raw @infos.to_json %>
	var category_markers = <%= raw @category_markers.to_json %>
	var categories = <%= raw @categories.to_json %>
</script>

<script id="info-window-template" type="text/x-handlebars-template">
	<div class="info-window-content">
		<h1>{{name}}</h1>
		<div class="content">
			{{description}}
		</div>
	</div>
</script>