<%= render "page/page_navbar" %>

<script>
	var view = "maps";
	var get_routes = "<%= get_routes_path %>";
</script>

<div id="map"></div>

<!-- Map UI -->
<div id="map-ui-container">
	<div id="panel-title" class="ui-container">
		Port Details
	</div>
	<!-- <div id="search-container" class="panel-sub">
		<input id="search-box" type="text" placeholder="Search for Ports"/>
	</div> -->
	<div id="port-details">
		<div class="ui-container">
			<%= render "page/image_carousel" %>
			<div id="name-container" class="panel-sub row">
				<div class="col-xs-9">
					<div class="bold">
						Jose Panganiban Port
					</div>
					<div id="description" class="small-desc">
					Camarines Norte
					</div>
				</div>
				<div id="view-routes" class="col-xs-3">
					<div style="width:20px;height:20px;margin-left:auto;margin-right:auto">
						<img class="img-responsive" src="<%= asset_path("icon_routes.png")%>"/>
					</div>
					<div class="small-desc" style="text-align:center;">
						<a>Routes</a>
					</div>
				</div>
			</div>
		</div>

		<%= render "page/additional_info" %>
	</div>

	<div id="routes-display" style="display:none">
		<%= render "page/routes_view" %>
	</div>
</div>

<div id="layer-ui-container">
	<% @categories.each do |category| %>
	<div class="filter-button active">
		<image class="image-responsive filter-image" src="<%= @category_filters[category.id] %>" data-category="<%= category.id %>" title="<%= category.name%>">
	</div>
	<% end %>
</div>

<script>
	var ports = <%= raw @ports.to_json %>
	var images = <%= raw @images.to_json %>
	var infos = <%= raw @infos.to_json %>
	var categoryMarkers = <%= raw @category_markers.to_json %>
	var categories = <%= raw @categories.to_json %>
</script>

<script id="info-window-template" type="text/x-handlebars-template">
	<div class="info-window-content">
		<h1>{{name}}</h1>
		<div class="content">
			{{description}}
		</div>
	</div>
</script>