<%= render "page/page_navbar" %>
<script>
	var view = "homepage";

  function moveDown(){
    $(".main-view").moveDown();
  }
</script>
	
<style>
  .animated { 
    -webkit-animation-duration: 2s; 
    animation-duration: 2s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in-out; 
    animation-timing-function: ease-in-out; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
  } 

  @-webkit-keyframes bounce { 
      0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
      40% {-webkit-transform: translateY(-15px);} 
      60% {-webkit-transform: translateY(-7px);} 
  } 

  @keyframes bounce { 
      0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
      40% {transform: translateY(-15px);} 
      60% {transform: translateY(-7px);} 
  } 

  .bounce { 
      -webkit-animation-name: bounce; 
      animation-name: bounce; 
  }

  /* General */
  html, body{
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
  }
  
  .vert-center{
    align-items: center;
    display: flex;
    justify-content: center;
    
  }
  
  h1, h2 {
    font-family: 'Intro', sans-serif;
  }
  
  /* Homepage-Specific */   
  .main-view .bg-img { 
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  /* Headings */
  .main-view{
    font-size: 1.25em;
  }
  
  .main-view h1{
    font-size: 3em;
    color: white;
    text-shadow: 1px 1px 3px #333;
  }
  
  .main-view h2, 
  .main-view b{
    color: #1E4F79;
  }
  
  .navbar-fixed-top {
	 border: 0px;
  }

  .home-down, .home-down2{
    position: absolute;
    bottom: 1em;
    left: 0;

    text-align: center;
  }

  .home-down span, .home-down2 span{
    color: white;
    font-size: 4em;
    text-decoration: none;
    
    opacity: 0.7;
    text-shadow: 1px 1px 3px #666;

    cursor: pointer;
  }

  .home-down2 span{
    color: #1E4F79;
    opacity: 1;
  }

  </style>
  
  <div class="main-view">

  <section class="vert-center">
    <img src="<%= asset_path("assets/home_bg/homepage-bg.jpg")%>" class="bg-img" />
    <div class="container">
      <div class="row text-center">
        <div class="col-md-8 col-md-offset-2 col-xs-12">
          <h1>Open Transport</h1>
          <!-- <form role="form" class="form-inline">
            <div class="input-group">
              <input type="text" class="form-control text-center input-lg" placeholder="Search for a port or station" />
              <span class="input-group-btn input-group-btn-lg">
                <button class="btn btn-primary btn-lg" type="button">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
            <b style="font-family: 'Intro'">OR</b> -->
    			<a class="btn btn-primary btn-lg" href="/opentransport/map">
    			  Explore the Map!
    			</a>
          <!-- </form> -->
        </div>
        <div class="home-down col-md-8 col-md-offset-2 col-xs-12">
          <span class="glyphicon glyphicon-chevron-down animated bounce" onclick="moveDown()"></span>
        </div>
      </div>
    </div>
  </section>
    
  <section id="about-1" class="vert-center">
    <img src="<%= asset_path("assets/home_bg/about-bg-1.jpg")%>" class="bg-img" />
    <div class="container">
      <div class="row">
        <div class="col-md-8">
        <h2>What is this about?</h2>
        
        <p>The Department of Transportation and Communication and the Ateneo de Manila University have collaborated to create this Open Transportation Portal as part of the Open Data Initiatives of the Philippine Government.</p>
        
        <p>As one of the eight founding states of the Open Government Partnership, the Philippine government is committed to <b>open governance through initiatives that make national government data searchable, accessible, and useful</b>, with the help of the different agencies of government, and with the participation of the public. </p>      
        </div>

        <div class="home-down2 col-md-8 col-md-offset-2 col-xs-12">
          <span class="glyphicon glyphicon-chevron-down animated bounce" onclick="moveDown()"></span>
        </div>
      </div>
    </div>
  </section>
      
  <section id="about-2" class="vert-center">
    <img src="<%= asset_path("assets/home_bg/about-bg-2.5.jpg")%>" class="bg-img" />
    <div class="container">
      <div class="row">
        <div class="col-md-8">
        <h2>What will I find here?</h2>
        
        <p>This website consolidates the datasets of the Department of Transportation and Communication and its attached agencies, allowing users to find specific information from a <b>rich and continuously growing collection of public datasets on air, maritime, rail and road infrastructure projects</b>.</p>
        
        <p>It also provides information on how to access these datasets and tools, such as infographics and applications developed by the Ateneo de Manila University and other groups, to make the information easy to understand. </p>      
        </div>

        <div class="home-down2 col-md-8 col-md-offset-2 col-xs-12">
          <span class="glyphicon glyphicon-chevron-down animated bounce" onclick="moveDown()"></span>
        </div>
      </div>
    </div>
  </section>
    
  <section id="about-3" class="vert-center">
    <img src="<%= asset_path("assets/home_bg/about-bg-3.5.jpg")%>" class="bg-img" />
    <div class="container">
      <div class="row">
        <div class="col-md-8">
        <h2>How can I help?</h2>
        
        <p>Users may not only view the datasets, but also share and download them as spreadsheets and other formats, for their own use. The Department of Transportation and Communication encourages the public to <b>request for the data they want, send in comments, suggestions, and even stories of how they use open data</b>. Likewise, it also encourages the public to participate by submitting new information, applications and visualizations based on the public data.</p>
        
        <p>This engagement of ideas between the public and the government will help develop the platform even further, for the benefit of everyone involved. <b>The primary goal of Open Data is to foster a citizenry empowered to make informed decisions, and to promote efficiency and transparency in government.</b></p>      
        </div>

        <div class="home-down2 col-md-8 col-md-offset-2 col-xs-12">
          <span class="glyphicon glyphicon-chevron-down animated bounce" onclick="moveDown()"></span>
        </div>
      </div>
    </div>
  </section>    
    
  <section id="about-4" class="vert-center">
    <img src="<%= asset_path("assets/home_bg/about-bg-4.jpg")%>" class="bg-img" />
    <div class="container">
      <div class="row">
        <div class="col-md-8">
        <h2>Really?</h2>
        
        <p>The website is currently <b>under construction</b>, so you won't be able to see a lot of the things we've mentioned yet. This is what we envision, though, and we hope you're as excited about it as we are.</p>      
        </div>

      </div>
    </div>
  </section>
</div>